In [2]:
import pandas as pd

In [10]:
variables = ["kohde","jasen","pvknro","sp","IKAL1","ASALUE","V1","V21","V32","V40","H1a_A","H1h_A"]
#Documentation in habits.text
data=pd.read_csv("habits.data",delimiter=";")

In [13]:
#remove extra variables
data=data[variables]

In [14]:
data

,kohde,jasen,pvknro,sp,IKAL1,ASALUE,V1,V21,V32,V40,H1a_A,H1h_A
0,50007,2,2,2,6,3.0,580,0,430,0,1.0,1.0
1,50009,1,1,2,7,1.0,0,0,560,0,1.0,1.0
2,50015,1,1,1,8,3.0,0,0,450,0,2.0,1.0
3,50032,2,1,1,8,2.0,0,0,530,0,2.0,2.0
4,50033,1,1,2,8,1.0,00:00,00:00,07:20,00:00,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
388,51943,1,2,2,4,1.0,440,0,460,0,1.0,2.0
389,51947,2,1,2,7,1.0,490,0,470,0,1.0,1.0
390,51956,1,1,2,6,2.0,0,0,?,0,1.0,1.0
391,51957,2,2,2,7,1.0,0,0,740,0,2.0,1.0
392,51964,2,1,1,7,1.0,0,0,550,0,1.0,?

In [ ]:

#nan values what to do with them?

#invalid entrys?
#suspicious values

<h1>data cleanup</h1>

<h1>analysis</h1>